<div class=" pt-2" *ngIf="currentView === 3">
    <!-- Form MinCalendar -->
    <div *ngIf="formTemplate" class=" row justify-content-center">
        <div class=" col-md-5">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Formulaire</h4>
                </div>
                <div class=" card-body">
                    <form #f=ngForm (ngSubmit)="onSubmitMin()">
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Nom </label>
                                    <input name="name" class=" form-control" placeholder="Nom" type="text" [(ngModel)]="formMin.name" required minlength="5" />
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Intervention </label>
                                    <input name="intervention" class=" form-control" placeholder="Intervention" type="text" [(ngModel)]="formMin.intervention" required />
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Age </label>
                                    <input name="old" class=" form-control" placeholder="Age" type="number" [(ngModel)]="formMin.old" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="f.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancelMinCalendar()">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter MinCalendar -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12 col-sm-12">
                        <div class="row">
                            <div class=" col-md-2 col-sm-1">
                                <div class=" form-group">
                                    <input class=" form-control" placeholder="nom" type="text" />
                                </div>
                            </div>
                            <div class=" col-md-2 col-sm-1">
                                <div class=" form-group">
                                    <input class=" form-control" placeholder="intervention" type="text" />
                                </div>
                            </div>
                            <div class=" col-md-2 col-sm-1">
                                <div class=" form-group">
                                    <input class=" form-control" placeholder="age" type="number" />
                                </div>
                            </div>
                            <div class=" col-md-2 col-sm-4">
                                <button class="btn btn-sm btn-success " (click)="goBack()">Retour</button>
                            </div>
                            <div class=" col-md-1 col-sm-2">
                                <button class="btn btn-sm btn-success " (click)="activeFormTemplate(true)">Nouveau</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table MinCategory -->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste de programmes (<strong>{{selectedCategory.name}}</strong>)</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Nom</th>
                                    <th>Intervention</th>
                                    <th class=" text-center">Age /Jour</th>
                                    <th class=" text-center">Editer</th>
                                    <th class=" text-center">Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let min of minCattles">
                                    <td>{{min.name}}</td>
                                    <td>{{min.intervention}}</td>
                                    <td>{{min.old}}</td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="editingMinCalendar(min)"><i class="material-icons">drive_file_rename_outline</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="onDeleteMinCalendar(min.id)"><i class="material-icons">delete_sweep</i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" pt-2" *ngIf="currentView === 1">
    <!-- Filter Category -->
    <div *ngIf="!formTemplate" class=" row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="nom" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2">
                            <button class="btn btn-sm btn-success mb-3" (click)="activeFormTemplate(true)">Nouvelle</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Form Category -->
    <div *ngIf="formTemplate" class=" row justify-content-center">
        <div class=" col-md-5">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Formulaire</h4>
                </div>
                <div *ngIf="error" class="alert alert-danger" role="alert">
                    <span >{{error}}</span>
                </div>
                <div class=" card-body">
                    <form #f=ngForm (ngSubmit)="onSubmitCategory()">
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Nom </label>
                                    <input name="name" class=" form-control" placeholder="Nom" type="text" [(ngModel)]="formCategory.name" required minlength="5" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="enclosure">Famille</label>
                                    <select name="family" class="form-select" aria-label="Default select example" [(ngModel)]="formCategory.family" required>
                                        <option value="ovin">ovin</option>
                                        <option value="bovin">bovin</option>
                                        <option value="caprin">caprin</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="f.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancelCategory()">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Table Category -->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste des categories</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Nom</th>
                                    <th>Famille</th>
                                    <th class=" text-center">Editer</th>
                                    <th class=" text-center">Supprimer</th>
                                    <th class=" text-center">Voir betail </th>
                                    <th class=" text-center">Programme minimal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let category of categorys | paginate: { itemsPerPage: 10, currentPage: p }">
                                    <td>{{category.name}}</td>
                                    <td>{{category.family}}</td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="editingCategory(category)"><i class="material-icons">drive_file_rename_outline</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="onDeleteCategory(category.id)"><i class="material-icons">delete_sweep</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="getCattle(category)"><i class="material-icons">savings</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="getMinCattle(category)"><i class="material-icons">date_range</i></button></td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" pt-2" *ngIf="currentView === 4">
    <!-- Form Calendar -->
    <div *ngIf="formTemplate" class=" row justify-content-center">
        <div class=" col-md-5">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Formulaire</h4>
                </div>
                <div class=" card-body">
                    <form #f=ngForm (ngSubmit)="onSubmitCalendar(f)">
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Nom </label>
                                    <input name="calendaryName" class=" form-control" placeholder="Nom" type="text" [(ngModel)]="formCalendar.calendaryName" required minlength="5" />
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Intervention </label>
                                    <input name="intervention" class=" form-control" placeholder="Intervention" type="text" [(ngModel)]="formCalendar.intervention" required />
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Date Intervention </label>
                                    <input name="date" class=" form-control" placeholder="Date" type="date" [(ngModel)]="formCalendar.date" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="f.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancelCalendar()">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter Calendar -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="nom" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 px-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="intervention" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 pl-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="date" type="date" />
                            </div>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="goBack()">Retour</button>
                        </div>
                        <div class=" col-md-2">
                            <button class="btn btn-sm btn-success mb-3" (click)="activeFormTemplate(true)">Nouveau</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table calendar-->
    <div class=" row justify-content-center">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste de programmes (<strong>{{selectedCategory.name}}</strong> ><strong>{{selectedCattle.name}}</strong>)</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Nom</th>
                                    <th>Intervention</th>
                                    <th>Date</th>
                                    <th class=" text-center">Effectuer</th>
                                    <th>Editer</th>
                                    <th>Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let calendar of calendarys | paginate: { itemsPerPage: 5, currentPage: page }">
                                    <td>{{calendar.calendaryName}}</td>
                                    <td>{{calendar.intervention}}</td>
                                    <td>{{calendar.date | date }}</td>
                                    <td class=" text-center"><span *ngIf="calendar.make">OUI</span> <span *ngIf="!calendar.make">NON</span></td>
                                    <td><button class="btn btn-sm btn-success mb-3" (click)="editingCalendar(calendar)"><i class=" tim-icons icon-pencil"> </i></button></td>
                                    <td><button class="btn btn-sm btn-success mb-3"  (click)="onDeleteCalendar(calendar.id)"><i class=" tim-icons icon-trash-simple"> </i></button></td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="page = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" pt-2" *ngIf="currentView === 2">
    <!-- Form Cattle -->
    <div class=" row justify-content-center" *ngIf="formTemplate">
        <div class=" col-md-7">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Formulaire</h4>
                </div>
                <div class=" card-body">
                    <form #f="ngForm" (ngSubmit)="onSubmit()">
                        <div class=" row">
                            <div class=" col-md-6 pr-md-1">
                                <div class=" form-group">
                                    <label> Nom </label>
                                    <input name="name" class=" form-control" placeholder="Nom" type="text" [(ngModel)]="form.name" disabled />
                                </div>
                            </div>
                            <div class=" col-md-6 px-md-1">
                                <div class=" form-group">
                                    <label> Genre </label>
                                    <div class="form-control">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="Male" [(ngModel)]="form.gender" />
                                            <label class="form-check-label" for="inlineRadio1">Male</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="Femelle" [(ngModel)]="form.gender" />
                                            <label class="form-check-label" for="inlineRadio2">Femelle</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-md-6 px-md-1">
                                <div class=" form-group">
                                    <label>Date Entree</label>
                                    <input class=" form-control" placeholder="date" type="date" [(ngModel)]="form.date" required />
                                </div>
                            </div>
                            <div class=" col-md-6 px-md-1">
                                <div class=" form-group">
                                    <label> Actuellement </label>
                                    <div class="form-control">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="present" id="inlineRadio1" [value]="true" [(ngModel)]="form.present" />
                                            <label class="form-check-label" for="inlineRadio1">Present</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="present" id="inlineRadio2" [value]="false" [(ngModel)]="form.present" />
                                            <label class="form-check-label" for="inlineRadio2">Absent</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="enclosure">Enclos</label>
                                    <select name="enclosure" class="form-select" aria-label="Default select example" [(ngModel)]="form.enclosure" required>
                                        <option *ngFor="let E of enclosures" [ngValue]="E">{{E.name}} {{E.area}}/m²
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="f.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancelCattle()">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter Cattle -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="nom" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 px-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="genre" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 pl-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="date" type="date" />
                            </div>
                        </div>
                        <div class=" col-md-2">
                            <button class="btn btn-sm btn-success mb-3" (click)="goBack()">Retour</button>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="activeFormTemplate(true)">Nouveau</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table Cattle -->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste de betails (<strong>{{selectedCategory.name}}</strong>)</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Nom</th>
                                    <th>Famille</th>
                                    <th>Categorie</th>
                                    <th>Genre</th>
                                    <th>Date Entree</th>
                                    <th>Enclos</th>
                                    <th class=" text-center">Present</th>
                                    <th class=" text-center">Editer</th>
                                    <th class=" text-center">Supprimer</th>
                                    <th class=" text-center">Programme</th>
                                    <th class=" text-center">Sortie</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let C of cattles | paginate: { itemsPerPage: 10, currentPage: p }">
                                    <td>{{C.name}}</td>
                                    <td>{{C.family}}</td>
                                    <td>{{selectedCategory.name}}</td>
                                    <td>{{C.gender}}</td>
                                    <td>{{C.date | date }}</td>
                                    <td>{{C.enclosureName}}</td>
                                    <td class=" text-center"><span *ngIf="C.present">OUI</span> <span *ngIf="!C.present">NON</span></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="editingCattle(C)"><i class="material-icons">drive_file_rename_outline</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="onDelete(C.id)"><i class="material-icons">delete_sweep</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="getCalendary(C)"><i class=" material-icons"> alarm</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="byName(C.name)"><i class=" material-icons">logout</i></button></td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

