<div class=" pt-2" *ngIf="currentView === 3">
    <!-- Form MinCalendar -->
    <div *ngIf="formTemplate" class=" row justify-content-center">
        <div class=" col-md-5">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Formulaire</h4>
                </div>
                <div class=" card-body">
                    <form #f=ngForm (ngSubmit)="onSubmitMin()">
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Nom </label>
                                    <input name="name" class=" form-control" placeholder="Nom" type="text" [(ngModel)]="formMin.name" required minlength="5" />
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Intervention </label>
                                    <input name="intervention" class=" form-control" placeholder="Intervention" type="text" [(ngModel)]="formMin.intervention" required />
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Age </label>
                                    <input name="old" class=" form-control" placeholder="Age" type="number" [(ngModel)]="formMin.old" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="f.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancelMinCalendar()">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter MinCalendar -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <div class=" col-md-2 col-sm-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="nom" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 col-sm-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="intervention" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 col-sm-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="age" type="number" />
                            </div>
                        </div>
                        <div class=" col-md-2 col-sm-4">
                            <button class="btn btn-sm btn-success " (click)="goBack()">Retour</button>
                        </div>
                        <div class=" col-md-1 col-sm-2">
                            <button class="btn btn-sm btn-success " (click)="activeFormTemplate(true)">Nouveau</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table MinCategory -->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste de programmes (<strong>{{selectedCategory.name}}</strong>)</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th >Nom</th>
                                    <th >Intervention</th>
                                    <th class=" text-center">Age /Jour</th>
                                    <th class=" text-center">Editer</th>
                                    <th class=" text-center">Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let min of minFish">
                                    <td>{{min.name}}</td>
                                    <td>{{min.intervention}}</td>
                                    <td>{{min.old}}</td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="editingMinCalendar(min)"><i class="material-icons">drive_file_rename_outline</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="onDeleteMinCalendar(min.id)"><i class="material-icons">delete_sweep</i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" pt-2" *ngIf="currentView === 1">
    <!-- Filter Category -->
    <div *ngIf="!formTemplate" class=" row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="nom" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="activeFormTemplate(true)">Nouvelle categorie</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Form Category -->
    <div *ngIf="formTemplate" class=" row justify-content-center">
        <div class=" col-md-5">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Formulaire</h4>
                </div>
                <div *ngIf="error" class="alert alert-danger" role="alert">
                    <span >{{error}}</span>
                </div>
                <div class=" card-body">
                    <form #f=ngForm (ngSubmit)="onSubmitCategory()">
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Nom </label>
                                    <input name="name" class=" form-control" placeholder="Nom" type="text" [(ngModel)]="formCategory.name" required minlength="5" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="f.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancelCategory()">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Table Category -->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste des Categories</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th class=" text-center">Nom</th>
                                    <th class=" text-center">Editer</th>
                                    <th class=" text-center">Supprimer</th>
                                    <th class=" text-center">Voir poissons </th>
                                    <th class=" text-center">Programme minimal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let category of categorys | paginate: { itemsPerPage: 10, currentPage: p }">
                                    <td class=" text-center">{{category.name}}</td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="editingCategory(category)"><i class="material-icons">drive_file_rename_outline</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="onDeleteCategory(category.id)"><i class="material-icons">delete_sweep</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="getFish(category)"><i class="material-icons">set_meal</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="getMinFish(category)"><i class="material-icons">date_range</i></button></td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" pt-2" *ngIf="currentView === 4">
    <!-- Form Calendar -->
    <div *ngIf="formTemplate" class=" row justify-content-center">
        <div class=" col-md-5">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Formulaire</h4>
                </div>
                <div class=" card-body">
                    <form #f=ngForm (ngSubmit)="onSubmitCalendary(f)">
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Nom </label>
                                    <input name="calendaryName" class=" form-control" placeholder="Nom" type="text" [(ngModel)]="formCalendary.calendaryName" required minlength="5" />
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Intervention </label>
                                    <input name="intervention" class=" form-control" placeholder="Intervention" type="text" [(ngModel)]="formCalendary.intervention" required />
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Date Intervention </label>
                                    <input name="date" class=" form-control" placeholder="Date" type="date" [(ngModel)]="formCalendary.date" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="f.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancelCalendar()">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter Calendar -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="nom" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 px-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="intervention" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 pl-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="date" type="date" />
                            </div>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="goBack()">Retour</button>
                        </div>
                        <div class=" col-md-2">
                            <button class="btn btn-sm btn-success mb-3" (click)="activeFormTemplate(true)">Nouveau</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table Calendar -->
    <div class=" row justify-content-center">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste de programmes (<strong>{{selectedCategory.name}}</strong> > <strong>{{selectedFish.name}}</strong>)</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Nom</th>
                                    <th>Intervention</th>
                                    <th>Date</th>
                                    <th class=" text-center">Effectuer</th>
                                    <th>Editer</th>
                                    <th>Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let calendar of calendars | paginate: { itemsPerPage: 5, currentPage: page }">
                                    <td>{{calendar.calendaryName}}</td>
                                    <td>{{calendar.intervention}}</td>
                                    <td>{{calendar.date | date }}</td>
                                    <td class=" text-center"><span *ngIf="calendar.make">OUI</span> <span *ngIf="!calendar.make">NON</span></td>
                                    <td><button class="btn btn-sm btn-success mb-3" (click)="editingCalendar(calendar)"><i class=" tim-icons icon-pencil"> </i></button></td>
                                    <td><button class="btn btn-sm btn-success mb-3" (click)="onDeleteCalendar(calendar.id)"><i class=" tim-icons icon-trash-simple"> </i></button></td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="page = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" pt-2" *ngIf="currentView === 2">
    <!-- Form Fish-->
    <div class=" row justify-content-center" *ngIf="formTemplate">
        <div class=" col-md-6">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Formulaire</h4>
                </div>
                <div class=" card-body">
                    <form #f="ngForm" (ngSubmit)="onSubmit()">
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Nom </label>
                                    <input name="name" class=" form-control" placeholder="Nom" type="text" [(ngModel)]="form.name" disabled/>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Quantite </label>
                                    <input name="quantity" class=" form-control" placeholder="quantite" type="number" [(ngModel)]="form.quantity" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-md-6 px-md-1">
                                <div class=" form-group">
                                    <label>Date Entree</label>
                                    <input class=" form-control" placeholder="date" type="date" [(ngModel)]="form.date" required />
                                </div>
                            </div>
                            <div class=" col-md-6 px-md-1">
                                <div class=" form-group">
                                    <label> Actuelment </label>
                                    <div class="form-control">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="present" id="inlineRadio1" [value]="true" [(ngModel)]="form.present"/>
                                            <label class="form-check-label" for="inlineRadio1">Present</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="present" id="inlineRadio2" [value]="false" [(ngModel)]="form.present" />
                                            <label class="form-check-label" for="inlineRadio2">Absent</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="enclosure">Bassin</label>
                                        <select name="bowl" class="form-select" aria-label="Default select example" [(ngModel)]="form.bowl" required>
                                            <option *ngFor="let B of bowls" [ngValue]="B">{{B.name}} {{B.area * B.depth}}/ <var>m<sup>3</sup></var>
                                            </option>
                                        </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="f.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancelFish()">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter Fish -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="nom" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 pl-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="date" type="date" />
                            </div>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="goBack()">Retour</button>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="activeFormTemplate(true)">Nouveau</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table Fish-->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste de poissons (<strong>{{selectedCategory.name}}</strong>)</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Nom</th>
                                    <th>Quantite initiale</th>
                                    <th>Categorie</th>
                                    <th>Date Entree</th>
                                    <th>Bassin</th>
                                    <th class=" text-center">Present</th>
                                    <th class=" text-center">Editer</th>
                                    <th class=" text-center">Supprimer</th>
                                    <th class=" text-center">Programme</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let F of fishs | paginate: { itemsPerPage: 10, currentPage: p }">
                                    <td>{{F.name}}</td>
                                    <td>{{F.quantity}}</td>
                                    <td>{{F.categoryName}}</td>
                                    <td>{{F.date | date }}</td>
                                    <td>{{F.bowlName}}</td>
                                    <td class=" text-center"><span *ngIf="F.present">OUI</span> <span *ngIf="!F.present">NON</span></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="editingFish(F)"><i class="material-icons">drive_file_rename_outline</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="onDelete(F.id)"><i class="material-icons">delete_sweep</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="getCalendary(F)"><i class=" material-icons"> alarm</i></button></td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
