<div class=" pt-2" *ngIf="currentView === 2">
    <!-- Filter User -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="firstname" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 px-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="lastname" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="active" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="goBack()">Retour</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table User -->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste d'utilisateurs dans <strong>{{selectedShop.name}}</strong></h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>Actif</th>
                                    <th>Accès</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of shopUsers | paginate: { itemsPerPage: 10, currentPage: p }">
                                    <td>{{user.firstname}}</td>
                                    <td>{{user.lastname}}</td>
                                    <td class=" text-center"><span *ngIf="user.active">OUI</span> <span *ngIf="!user.active">NON</span></td>
                                    <td>-</td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" pt-2" *ngIf="currentView === 1">
    <!-- Form Shop -->
    <div class=" row justify-content-center"  *ngIf="formTemplate">
        <div class=" col-md-7">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Formulaire</h4>
                </div>
                <div *ngIf="error" class="alert alert-danger" role="alert">
                    <span >{{error}}</span>
                </div>
                <div class=" card-body">
                    <form #f="ngForm" (ngSubmit)="onSubmit()" >
                        <div class=" row">
                            <div class=" col-md-6 pr-md-1">
                                <div class=" form-group">
                                    <label> Nom </label>
                                    <input class=" form-control" placeholder="Nom" type="text"
                                        name="name" [(ngModel)]="form.name" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="f.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancelShop()">Annuller</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter Shop -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="recherche par nom" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="activeFormTemplate(true)">Nouveau</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add User -->
    <div class=" row" *ngIf="onAddUser">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Sélectionner un parmi les utilisateurs disponibles pour l'affecter à <strong>{{cashier.shop.name}}</strong> sinon <button type="button" class="btn btn-secondary" (click)="CancelAddUser()"> Annuler</button> </h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>Actif</th>
                                    <th class=" text-center">Selectionner</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of availableUsers | paginate: { itemsPerPage: 3, currentPage: p }">
                                    <td>{{user.firstname}}</td>
                                    <td>{{user.lastname}}</td>
                                    <td class=" text-center"><span *ngIf="user.active">OUI</span> <span *ngIf="!user.active">NON</span></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="onSelectUser(user)"><i class=" material-icons">check </i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table Shop -->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste des caisses</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Nom</th>
                                    <th class=" text-center">Editer</th>
                                    <th class=" text-center">Voir utilisateurs</th>
                                    <th class=" text-center">Ajouter utilisateur</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let shop of shops">
                                    <td>{{shop.name}}</td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="editingShop(shop)"><i class=" material-icons">drive_file_rename_outline </i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="getShop(shop)"><i class=" material-icons"> people_alt</i></button></td> <!--assignment_ind-->
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="addUser(shop)"><i class=" material-icons"> person_add</i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
