<div class=" pt-2" *ngIf="currentView === 2">
    <!-- Filter fish -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="nom" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="categorie" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="goBack()">Retour</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table Fish -->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste de poissons dans <strong>{{selectedBowl.name}}</strong></h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Nom</th>
                                    <th>categorie</th>
                                    <th>Quantity initiale</th>
                                    <th>Date Entree</th>
                                    <th class=" text-center">Present</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let F of fishs | paginate: { itemsPerPage: 10, currentPage: p }">
                                    <td>{{F.name}}</td>
                                    <td>{{F.categoryName}}</td>
                                    <td>{{F.quantity}}</td>
                                    <td>{{F.date | date }}</td>
                                    <td class=" text-center"><span *ngIf="F.present">OUI</span> <span *ngIf="!F.present">NON</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" pt-2" *ngIf="currentView === 1">
    <!-- Form Bowl -->
    <div class=" row justify-content-center"  *ngIf="formTemplate">
        <div class=" col-md-9">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Formulaire</h4>
                </div>
                <div *ngIf="error" class="alert alert-danger" role="alert">
                    <span >{{error}}</span>
                </div>
                <div class=" card-body">
                    <form #bowlForm="ngForm" (ngSubmit)="onSubmit()" >
                        <div class=" row">
                            <div class=" col-md-4 pr-md-1">
                                <div class=" form-group">
                                    <label> Nom </label>
                                    <input class=" form-control" placeholder="Nom" type="text"
                                        name="name" [(ngModel)]="form.name" required/>
                                </div>
                            </div>
                            <div class=" col-md-4 px-md-1">
                                <div class=" form-group">
                                    <label> Surface </label>
                                    <input  class=" form-control" placeholder="Surface" type="number"
                                        name="area" [(ngModel)]="form.area" required/>
                                </div>
                            </div>
                            <div class=" col-md-4 px-md-1">
                                <div class=" form-group">
                                    <label> Profondeur </label>
                                    <input  class=" form-control" placeholder="Profondeur" type="number"
                                        name="depth" [(ngModel)]="form.depth" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="bowlForm.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancelBowl()">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter Bowl -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="nom" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="area" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="dept" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="activeFormTemplate(true)">Nouveau</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table Bowl -->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste des bassins</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Nom</th>
                                    <th>Surface</th>
                                    <th>Profondeur</th>
                                    <th class=" text-center">Editer</th>
                                    <th class=" text-center">Supprimer</th>
                                    <th class=" text-center">Voir poissons</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let B of bowls">
                                    <td>{{B.name}}</td>
                                    <td>{{B.area}}</td>
                                    <td>{{B.depth}}</td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="editingBowl(B)"><i class="material-icons">drive_file_rename_outline</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="onDelete(B.id)"><i class="material-icons">delete_sweep</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="getFish(B)"><i class=" material-icons">set_meal </i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

