<div class=" pt-2" *ngIf="currentView === 3">
    <!-- Form MinCalendar -->
    <div *ngIf="formTemplate" class=" row justify-content-center">
        <div class=" col-md-5">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Formulaire</h4>
                </div>
                <div class=" card-body">
                    <form #f=ngForm (ngSubmit)="onSubmitMin()">
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Nom </label>
                                    <input name="name" class=" form-control" placeholder="Nom" type="text" [(ngModel)]="formMin.name" required minlength="5" />
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Intervention </label>
                                    <input name="intervention" class=" form-control" placeholder="Intervention" type="text" [(ngModel)]="formMin.intervention" required />
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Age </label>
                                    <input name="old" class=" form-control" placeholder="Age" type="number" [(ngModel)]="formMin.old" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="f.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancelMinCalendar()">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter MinCalendar -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12 col-sm-12">
                        <div class="row">
                            <div class=" col-md-2 col-sm-1">
                                <div class=" form-group">
                                    <input class=" form-control" placeholder="nom" type="text" />
                                </div>
                            </div>
                            <div class=" col-md-2 col-sm-1">
                                <div class=" form-group">
                                    <input class=" form-control" placeholder="intervention" type="text" />
                                </div>
                            </div>
                            <div class=" col-md-2 col-sm-1">
                                <div class=" form-group">
                                    <input class=" form-control" placeholder="age" type="number" />
                                </div>
                            </div>
                            <div class=" col-md-1 col-sm-4">
                                <button class="btn btn-sm btn-success " (click)="goBack()">Retour</button>
                            </div>
                            <div class=" col-md-1 col-sm-2">
                                <button class="btn btn-sm btn-success " (click)="activeFormTemplate(true)">Nouveau</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table MinCategory -->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste de programmes (<strong>{{selectedSeed.seedName}}</strong>)</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Nom</th>
                                    <th>Intervention</th>
                                    <th class=" text-center">Age /Jour</th>
                                    <th class=" text-center">Editer</th>
                                    <th class=" text-center">Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let min of minSpeculation">
                                    <td>{{min.name}}</td>
                                    <td>{{min.intervention}}</td>
                                    <td>{{min.old}}</td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="editingMinCalendar(min)"><i class="material-icons">drive_file_rename_outline</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="onDeleteMinCalendar(min.id)"><i class="material-icons">delete_sweep</i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" pt-2" *ngIf="currentView === 1">
    <!-- Filter Category -->
    <div *ngIf="!formTemplate" class=" row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="nom" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="activeFormTemplate(true)">Nouvelle</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Form Category -->
    <div *ngIf="formTemplate" class=" row justify-content-center">
        <div class=" col-md-5">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Formulaire</h4>
                </div>
                <div *ngIf="error" class="alert alert-danger" role="alert">
                    <span >{{error}}</span>
                </div>
                <div class=" card-body">
                    <form #f=ngForm (ngSubmit)="onSubmitSeed()">
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Nom </label>
                                    <input name="seedName" class=" form-control" placeholder="Nom" type="text" [(ngModel)]="formSeed.seedName" required minlength="5" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="f.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancelSeed()">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Table Category -->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste des spéculations</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th class=" text-center">Nom</th>
                                    <th class=" text-center">Editer</th>
                                    <th class=" text-center">Supprimer</th>
                                    <th class=" text-center">Voir plantations </th>
                                    <th class=" text-center">Programme minimal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let seed of seeds | paginate: { itemsPerPage: 10, currentPage: p }">
                                    <td class=" text-center">{{seed.seedName}}</td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="editingSeed(seed)"><i class="material-icons">drive_file_rename_outline</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="onDeleteSeed(seed.id)"><i class="material-icons">delete_sweep</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="getSpeculation(seed)"><i class="material-icons">local_florist</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="getMinSpecultion(seed)"><i class="material-icons">date_range</i></button></td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" pt-2" *ngIf="currentView === 4">
    <!-- Form Calendary -->
    <div *ngIf="formTemplate" class=" row justify-content-center">
        <div class=" col-md-5">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Formulaire</h4>
                </div>
                <div class=" card-body">
                    <form #f=ngForm (ngSubmit)="onSubmitCalendar(f)">
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Nom </label>
                                    <input name="calendaryName" class=" form-control" placeholder="Nom" type="text" [(ngModel)]="formCalendar.calendaryName" required minlength="5" />
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Intervention </label>
                                    <input name="intervention" class=" form-control" placeholder="Intervention" type="text" [(ngModel)]="formCalendar.intervention" required />
                                </div>
                            </div>
                        </div>
                        <div class=" row" *ngIf="!createXorUpdate.calendar">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Date Intervention </label>
                                    <input name="date" class=" form-control" placeholder="Date" type="date" [(ngModel)]="formCalendar.date" required />
                                </div>
                            </div>
                        </div>
                        <div class=" row" *ngIf="createXorUpdate.calendar">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Fréquence </label>
                                    <input name="frequence" class=" form-control" placeholder="Fréquence" type="number" [(ngModel)]="formCalendar.frequence" required />
                                </div>
                            </div>
                        </div>
                        <div class=" row" *ngIf="createXorUpdate.calendar">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Date Début </label>
                                    <input name="start" class=" form-control" placeholder="Date début" type="number" [(ngModel)]="formCalendar.start" required />
                                </div>
                            </div>
                        </div>
                        <div class=" row" *ngIf="createXorUpdate.calendar">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Date Fin </label>
                                    <input name="end" class=" form-control" placeholder="Date fin" type="number" [(ngModel)]="formCalendar.end" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="f.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancelCalendar()">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter Calendary -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="nom" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 px-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="intervention" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 pl-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="date" type="date" />
                            </div>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="goBack()">Retour</button>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="activeFormTemplate(true)">Nouveau</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table Calendary -->
    <div class=" row justify-content-center">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste de programmes (<strong>{{selectedSeed.seedName}}</strong> > <strong>{{selectedSpeculation.name}}</strong>)</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Nom</th>
                                    <th>Intervention</th>
                                    <th>Date</th>
                                    <th class=" text-center">effectuer</th>
                                    <th>Editer</th>
                                    <th>Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let calendar of calendarys | paginate: { itemsPerPage: 5, currentPage: page }">
                                    <td>{{calendar.calendaryName}}</td>
                                    <td>{{calendar.intervention}}</td>
                                    <td>{{calendar.date | date }}</td>
                                    <td class=" text-center">
                                        <span *ngIf="calendar.giveUp">
                                            {{calendar.description}}
                                        </span>
                                        <span *ngIf="!calendar.giveUp">
                                            <span *ngIf="calendar.make">OUI</span> <span *ngIf="!calendar.make">NON</span>
                                        </span>
                                    </td>
                                    <td><button class="btn btn-sm btn-success mb-3" (click)="editingCalendar(calendar)"><i class=" tim-icons icon-pencil"> </i></button></td>
                                    <td><button class="btn btn-sm btn-success mb-3" (click)="onDeleteCalendar(calendar.id)"><i class=" tim-icons icon-trash-simple"> </i></button></td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="page = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" pt-2" *ngIf="currentView === 2">
    <!-- Form Speculation -->
    <div class=" row justify-content-center" *ngIf="formTemplate">
        <div class=" col-md-5">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Formulaire</h4>
                </div>
                <div class=" card-body">
                    <form #f="ngForm" (ngSubmit)="onSubmit()">
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Nom </label>
                                    <input name="name" class=" form-control" placeholder="Nom" type="text" [(ngModel)]="form.name" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-md-12 px-md-1">
                                <div class=" form-group">
                                    <label> Date Semence </label>
                                    <input class=" form-control" placeholder="date" type="date" [(ngModel)]="form.seedDate" required />
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="planting">Plantation</label>
                                    <select name="planting" class="form-select" aria-label="Default select example" [(ngModel)]="form.planting" required >
                                        <option *ngFor="let P of plantings" [ngValue]="P">{{P.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="f.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancelSpeculation()">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter Speculation -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="nom" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="produit" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="date semence" type="date" />
                            </div>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success " (click)="goBack()">Retour</button>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success" (click)="activeFormTemplate(true)">Nouveau</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table Speculation -->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste de speculations (<strong>{{selectedSeed.seedName}}</strong>)</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Nom</th>
                                    <th>Produit</th>
                                    <th>Date semence</th>
                                    <th>Plantation</th>
                                    <th class=" text-center">Present</th>
                                    <th class=" text-center">Editer</th>
                                    <th class=" text-center">Supprimer</th>
                                    <th class=" text-center">Programme</th>
                                    <th class=" text-center">Récolte</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let speculation of speculations | paginate: { itemsPerPage: 10, currentPage: p }">
                                    <td>{{speculation.name}}</td>
                                    <td>{{speculation.seedName}}</td>
                                    <td>{{speculation.seedDate | date }}</td>
                                    <td>{{speculation.plantingName}}</td>
                                    <td class=" text-center"><span *ngIf="speculation.present">OUI</span> <span *ngIf="!speculation.present">NON</span></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="editingSpeculation(speculation)"><i class="material-icons">drive_file_rename_outline</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="onDelete(speculation.id)"><i class="material-icons">delete_sweep</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="getCalendary(speculation)"><i class="material-icons"> alarm</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="getHarvest(speculation)"><i class="material-icons"> apple</i></button></td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" pt-2" *ngIf="currentView === 5">
    <!-- Form harvest -->
    <div *ngIf="formTemplate" class=" row justify-content-center">
        <div class=" col-md-5">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Formulaire</h4>
                </div>
                <div class=" card-body">
                    <form #f=ngForm (ngSubmit)="onSubmitHarvest()">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="planting">Raison</label>
                                    <select name="planting" class="form-select" aria-label="Default select example" [(ngModel)]="formHarvest.raison" (change)="reasonChange()" required >
                                        <option *ngFor="let reason of harvestReasons" [ngValue]="reason.value">{{reason.label}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Date récolte </label>
                                    <input name="date_harvest" class=" form-control" placeholder="Date" type="date" [(ngModel)]="formHarvest.date" required />
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Quantité </label>
                                    <input name="qty_harvest" class=" form-control" placeholder="Quantité" type="number" [(ngModel)]="formHarvest.quantity" required />
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Valeur </label>
                                    <input name="valeur_harvest" class=" form-control" placeholder="Valeur" type="number" [(ngModel)]="formHarvest.valeur" [disabled]="isNonValueReason()" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="f.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancelHarvest()">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter harvest -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 px-md-1">
                            <div class="form-group">
                                <select name="planting" class="form-select" aria-label="Default select example" required >
                                    <option *ngFor="let reason of harvestReasons" [ngValue]="reason">{{reason}}</option>
                                </select>
                            </div>
                        </div>                        
                        <div class=" col-md-2 pl-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="date" type="date" />
                            </div>
                        </div>
                        <div class=" col-md-2 px-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="quantite" type="number" />
                            </div>
                        </div>
                        <div class=" col-md-2 px-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="valeur" type="number" />
                            </div>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="goBack()">Retour</button>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="activeFormTemplate(true)">Nouveau</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table harvest -->
    <div class=" row justify-content-center">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Détails de la récole (<strong>{{selectedSeed.seedName}}</strong> > <strong>{{selectedSpeculation.name}}</strong>)</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Description</th>
                                    <th>Date</th>
                                    <th>Quantite</th>
                                    <th>Valeur</th>
                                    <th>Editer</th>
                                    <th>Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let harvest of harvests | paginate: { itemsPerPage: 2, currentPage: page }">
                                    <td>{{getRaisonLabel(harvest.raison)}}</td>
                                    <td>{{harvest.date | date }}</td>
                                    <td>{{harvest.quantity}}</td>
                                    <td>{{harvest.valeur}}</td>
                                    <td><button class="btn btn-sm btn-success mb-3" (click)="editingHarvest(harvest)"><i class=" tim-icons icon-pencil"> </i></button></td>
                                    <td><button class="btn btn-sm btn-success mb-3" (click)="onDeleteHarvest(harvest.id)"><i class=" tim-icons icon-trash-simple"> </i></button></td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="page = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
