<div class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="btn-success text-center " (click)="onChangeView('x')">
                <div [ngClass]="viewFarming == 'x' ? 'classHrTrue' : 'classHrFalse'"></div>
                <Strong>Hortoculture</Strong>
                <div [ngClass]="viewFarming == 'x' ? 'classHrTrue' : 'classHrFalse'"></div>
            </div>
        </div>
         <div class="col-md-4">
            <div class="btn-success text-center" (click)="onChangeView('y')">
                <div [ngClass]="viewFarming == 'y' ? 'classHrTrue' : 'classHrFalse'"></div>
                <Strong>Arboculture</Strong>
                <div [ngClass]="viewFarming == 'y' ? 'classHrTrue' : 'classHrFalse'"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="btn-success text-center" (click)="onChangeView('z')">
                <div [ngClass]="viewFarming == 'z' ? 'classHrTrue' : 'classHrFalse'"></div>
                <Strong>Plantation</Strong>
                <div [ngClass]="viewFarming == 'z' ? 'classHrTrue' : 'classHrFalse'"></div>
            </div>
        </div>
    </div>
    <div *ngIf="viewFarming === 'x'">
        <app-speculation></app-speculation>
    </div>
    <div *ngIf="viewFarming === 'y'">
        <app-tree></app-tree>
    </div>
    <div *ngIf="viewFarming === 'z'">
        <app-planting></app-planting>
    </div>
</div>