<div class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="btn-success text-center " (click)="onChangeView('x')">
                <div [ngClass]="viewCommerce == 'x' ? 'classHrTrue' : 'classHrFalse'"></div>
                <Strong>Strock produit</Strong>
                <div [ngClass]="viewCommerce == 'x' ? 'classHrTrue' : 'classHrFalse'"></div>
            </div>
        </div>
         <div class="col-md-4">
            <div class="btn-success text-center" (click)="onChangeView('y')">
                <div [ngClass]="viewCommerce == 'y' ? 'classHrTrue' : 'classHrFalse'"></div>
                <Strong>Stock matière</Strong>
                <div [ngClass]="viewCommerce == 'y' ? 'classHrTrue' : 'classHrFalse'"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="btn-success text-center" (click)="onChangeView('z')">
                <div [ngClass]="viewCommerce == 'z' ? 'classHrTrue' : 'classHrFalse'"></div>
                <Strong>Vente</Strong>
                <div [ngClass]="viewCommerce == 'z' ? 'classHrTrue' : 'classHrFalse'"></div>
            </div>
        </div>
    </div>
    <div *ngIf="viewCommerce === 'x'">
        <app-stock-produit></app-stock-produit>
    </div>
    <div *ngIf="viewCommerce === 'y'">
        <app-stock-matiere></app-stock-matiere>
    </div>
    <div *ngIf="viewCommerce === 'z'">
        <app-vente></app-vente>
    </div>
</div>