<div class=" pt-2" *ngIf="currentView === 2">
    <!-- Filter Catlle -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="categorie" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 px-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="genre" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="famille" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="goBack()">Retour</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table Cattle -->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste de betails dans <strong>{{selectedEnclosure.name}}</strong></h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Nom</th>
                                    <th>Famille</th>
                                    <th>Categorie</th>
                                    <th>Genre</th>
                                    <th>Date Entree</th>
                                    <th class=" text-center">Present</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let C of cattles | paginate: { itemsPerPage: 10, currentPage: p }">
                                    <td>{{C.name}}</td>
                                    <td>{{C.family}}</td>
                                    <td>{{C.categoryName}}</td>
                                    <td>{{C.gender}}</td>
                                    <td>{{C.date | date }}</td>
                                    <td class=" text-center"><span *ngIf="C.present">OUI</span> <span *ngIf="!C.present">NON</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" pt-2" *ngIf="currentView === 1">
    <!-- Form Enclosure -->
    <div class=" row justify-content-center"  *ngIf="formTemplate">
        <div class=" col-md-7">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Formulaire</h4>
                </div>
                <div *ngIf="error" class="alert alert-danger" role="alert">
                    <span >{{error}}</span>
                </div>
                <div class=" card-body">
                    <form #f="ngForm" (ngSubmit)="onSubmit()" >
                        <div class=" row">
                            <div class=" col-md-6 pr-md-1">
                                <div class=" form-group">
                                    <label> Nom </label>
                                    <input class=" form-control" placeholder="Nom" type="text"
                                        name="name" [(ngModel)]="form.name" required/>
                                </div>
                            </div>
                            <div class=" col-md-6 px-md-1">
                                <div class=" form-group">
                                    <label> Surface </label>
                                    <input  class=" form-control" placeholder="Surface" type="number"
                                        name="area" [(ngModel)]="form.area" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="f.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancelEnclosure()">Annuller</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter Enclosure -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="recherche par nom" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="activeFormTemplate(true)">Nouveau</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table Enclosure -->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste des enclos</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Nom</th>
                                    <th class=" text-center">Surface</th>
                                    <th class=" text-center">Editer</th>
                                    <th class=" text-center">Supprimer</th>
                                    <th class=" text-center">Voir betails</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let E of enclosures">
                                    <td>{{E.name}}</td>
                                    <td>{{E.area}}</td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="editingEnclosure(E)"><i class=" material-icons">drive_file_rename_outline </i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="onDelete(E.id)"><i class="material-icons">delete_sweep </i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="getEnclosure(E)"><i class=" material-icons"> savings</i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
