<div class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="btn-success text-center " (click)="onChangeView('x')">
                <div [ngClass]="view == 'x' ? 'classHrTrue' : 'classHrFalse'"></div>
                <Strong>Utilisateurs</Strong>
                <div [ngClass]="view == 'x' ? 'classHrTrue' : 'classHrFalse'"></div>
            </div>
        </div>
         <div class="col-md-6">
            <div class="btn-success text-center" (click)="onChangeView('y')">
                <div [ngClass]="view == 'y' ? 'classHrTrue' : 'classHrFalse'"></div>
                <Strong>Caisse</Strong>
                <div [ngClass]="view == 'y' ? 'classHrTrue' : 'classHrFalse'"></div>
            </div>
        </div>
    </div>
    <div *ngIf="view === 'x'">
        <app-user></app-user>
    </div>
    <div *ngIf="view === 'y'">
        <app-shop></app-shop>
    </div>
</div>