<div class="container">
<div class=" content pt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <img src="./assets/img/logoFarm.gif" height="300px" alt="">
    </div>
  </div>
  <div class=" row pt-5">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header"><h5 class=" title">Authentification</h5></div>
        <div class=" card-body">
          <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Login </label>
                  <input ngModel class=" form-control" placeholder="Login" type="text" name="username" />
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label> Password </label>
                  <input ngModel class=" form-control" placeholder="Password" type="password" name="password" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <button class=" btn btn-fill btn-success" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>