<div class=" pt-2" *ngIf="currentView === 2">
</div>
<div class=" pt-2" *ngIf="currentView === 1">
    <!-- Form User -->
    <div class=" row justify-content-center"  *ngIf="formTemplate">
        <div class=" col-md-7">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Formulaire</h4>
                </div>
                <div *ngIf="error" class="alert alert-danger" role="alert">
                    <span >{{error}}</span>
                </div>
                <div class=" card-body">
                    <form #f="ngForm" (ngSubmit)="onSubmit()" >
                        <div class=" row">
                            <div class=" col-md-6 pr-md-1">
                                <div class=" form-group">
                                    <label> Prénom </label>
                                    <input class=" form-control" placeholder="Prénom" type="text"
                                        name="firstname" [(ngModel)]="form.firstname" required/>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-6 pr-md-1">
                                <div class=" form-group">
                                    <label> Nom </label>
                                    <input class=" form-control" placeholder="Nom" type="text"
                                        name="lastname" [(ngModel)]="form.lastname" required/>
                                </div>
                            </div>
                        </div>
                        <div class=" row" *ngIf="canSeTPwd()">
                            <div class=" col-md-6 pr-md-1">
                                <div class=" form-group">
                                    <label> Identifiant </label>
                                    <input class=" form-control" placeholder="Login" type="text"
                                        name="username" [(ngModel)]="form.username" disabled required/>
                                </div>
                            </div>
                        </div>
                        <div class=" row" *ngIf="canSeTPwd()">
                            <div class=" col-md-6 pr-md-1">
                                <div class=" form-group">
                                    <label> Mot de passe </label>
                                    <input class=" form-control" placeholder="Password" type="password"
                                        name="password" [(ngModel)]="form.password" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label for="planting">Role</label>
                                    <select name="planting" class="form-select" aria-label="Default select example" [(ngModel)]="form.role_id" (change)="roleSelected()" required >
                                        <option [ngValue]="0">Sélectionner un role ...</option>
                                        <option *ngFor="let role of roles" [ngValue]="role.id">{{role.roleName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="f.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancelUser()">Annuller</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter User -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="Prénom" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="Nom" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="activeFormTemplate(true)">Nouveau</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table User -->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste des Utilisateurs</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>Role</th>
                                    <th>Actif</th>
                                    <th class=" text-center">Editer</th>
                                    <th class=" text-center">ACTIVATION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    <td>{{user.firstname}}</td>
                                    <td>{{user.lastname}}</td>
                                    <td>{{user.role.roleName}}</td>
                                    <td class=" text-center"><span *ngIf="user.active">OUI</span> <span *ngIf="!user.active">NON</span></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="editingUser(user)"><i class=" material-icons">drive_file_rename_outline </i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="onActivation(user)"><i class="material-icons">power_settings_new </i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
