<div class="content">
<div class="row">
    <div class="col-md-6">
        <div class="btn-success text-center "  (click)="onChangeView(true)">
            <div [ngClass]="{ classHrTrue: viewCattle === true,classHrFalse: viewCattle === false}" ></div>
            <Strong>Betails</Strong>
            <div [ngClass]="{ classHrTrue: viewCattle === true,classHrFalse: viewCattle === false}" ></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="btn-success text-center" (click)="onChangeView(false)">
            <div [ngClass]="{ classHrTrue: viewCattle === false,classHrFalse: viewCattle === true}" ></div>
            <Strong>Enclos</Strong>
            <div [ngClass]="{ classHrTrue: viewCattle === false,classHrFalse: viewCattle === true}" ></div>
        </div>
    </div>
</div>
<div *ngIf="viewCattle">
    <app-cattle></app-cattle>
</div>
<div *ngIf="!viewCattle">
    <app-enclosure></app-enclosure>
</div>
</div>