<div class=" pt-2" *ngIf="currentView === 3">
    <!-- Form MinCalendar -->
    <div *ngIf="formTemplate" class=" row justify-content-center">
        <div class=" col-md-5">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Formulaire</h4>
                </div>
                <div class=" card-body">
                    <form #f=ngForm (ngSubmit)="onSubmitMin()">
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Nom </label>
                                    <input name="name" class=" form-control" placeholder="Nom" type="text" [(ngModel)]="formMin.name" required minlength="5" />
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Intervention </label>
                                    <input name="intervention" class=" form-control" placeholder="Intervention" type="text" [(ngModel)]="formMin.intervention" required />
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Age </label>
                                    <input name="old" class=" form-control" placeholder="Age" type="number" [(ngModel)]="formMin.old" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="f.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancelMinCalendar()">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter MinCalendar -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12 col-sm-12">
                        <div class="row">
                            <div class=" col-md-2 col-sm-1">
                                <div class=" form-group">
                                    <input class=" form-control" placeholder="nom" type="text" />
                                </div>
                            </div>
                            <div class=" col-md-2 col-sm-1">
                                <div class=" form-group">
                                    <input class=" form-control" placeholder="intervention" type="text" />
                                </div>
                            </div>
                            <div class=" col-md-2 col-sm-1">
                                <div class=" form-group">
                                    <input class=" form-control" placeholder="age" type="number" />
                                </div>
                            </div>
                            <div class=" col-md-1 col-sm-4">
                                <button class="btn btn-sm btn-success " (click)="goBack()">Retour</button>
                            </div>
                            <div class=" col-md-1 col-sm-2">
                                <button class="btn btn-sm btn-success " (click)="activeFormTemplate(true)">Nouveau</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table MinCategory -->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste de programmes (<strong>{{selectedCategory.name}}</strong>)</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Nom</th>
                                    <th>Intervention</th>
                                    <th class=" text-center">Age /Jour</th>
                                    <th class=" text-center">Editer</th>
                                    <th class=" text-center">Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let min of minPoultrys">
                                    <td>{{min.name}}</td>
                                    <td>{{min.intervention}}</td>
                                    <td>{{min.old}}</td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="editingMinCalendar(min)"><i class="material-icons">drive_file_rename_outline</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="onDeleteMinCalendar(min.id)"><i class="material-icons">delete_sweep</i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" pt-2" *ngIf="currentView === 1">
    <!-- Filter Category -->
    <div *ngIf="!formTemplate" class=" row justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-7 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="recherche nom" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-5">
                            <button class="btn btn-sm btn-success mb-3" (click)="activeFormTemplate(true)">Nouvelle categorie</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Form Category -->
    <div *ngIf="formTemplate" class=" row justify-content-center">
        <div class=" col-md-5">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title"> Formulaire</h4>
                </div>
                <div *ngIf="error" class="alert alert-danger" role="alert">
                    <span >{{error}}</span>
                </div>
                <div class=" card-body">
                    <form #f=ngForm (ngSubmit)="onSubmitCategory()">
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Nom </label>
                                    <input name="name" class=" form-control" placeholder="Nom" type="text" [(ngModel)]="formCategory.name" required minlength="5" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pr-md-1">
                                <div class="form-group">
                                    <label for="planting">Type</label>
                                    <select name="planting" class="form-select" aria-label="Default select example" [(ngModel)]="formCategory.type" required >
                                        <option *ngFor="let type of categoryTypes" [ngValue]="type.value">{{type.label}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="f.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancelCategory()">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Table Category -->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste des Categories</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th class=" text-center">Nom</th>
                                    <th class=" text-center">TYPE</th>
                                    <th class=" text-center">Editer</th>
                                    <th class=" text-center">Supprimer</th>
                                    <th class=" text-center">Voir volailles </th>
                                    <th class=" text-center">Programme minimal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let category of categorys | paginate: { itemsPerPage: 10, currentPage: p }">
                                    <td class=" text-center">{{category.name}}</td>
                                    <td class=" text-center">{{showCategoryType(category)}}</td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="editingCategory(category)"><i class="material-icons">drive_file_rename_outline</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="onDeleteCategory(category.id)"><i class="material-icons">delete_sweep</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="getPoultry(category)"><i class="material-icons">flutter_dash</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="getMinPoultry(category)"><i class="material-icons">date_range</i></button></td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" pt-2" *ngIf="currentView === 4">
    <!-- Form Calendary -->
    <div *ngIf="formTemplate" class=" row justify-content-center">
        <div class=" col-md-5">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title"> Formulaire</h4>
                </div>
                <div class=" card-body">
                    <form #f=ngForm (ngSubmit)="onSubmitCalendar(f)">
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Nom </label>
                                    <input name="calendaryName" class=" form-control" placeholder="Nom" type="text" [(ngModel)]="formCalendar.calendaryName" required minlength="5" />
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Intervention </label>
                                    <input name="intervention" class=" form-control" placeholder="Intervention" type="text" [(ngModel)]="formCalendar.intervention" required />
                                </div>
                            </div>
                        </div>
                        <div class=" row" *ngIf="!createXorUpdate.calendar">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Date Intervention </label>
                                    <input name="date" class=" form-control" placeholder="Date" type="date" [(ngModel)]="formCalendar.date" required />
                                </div>
                            </div>
                        </div>
                        <div class=" row" *ngIf="createXorUpdate.calendar">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Fréquence </label>
                                    <input name="frequence" class=" form-control" placeholder="Fréquence" type="number" [(ngModel)]="formCalendar.frequence" required />
                                </div>
                            </div>
                        </div>
                        <div class=" row" *ngIf="createXorUpdate.calendar">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Date Début </label>
                                    <input name="start" class=" form-control" placeholder="Date début" type="number" [(ngModel)]="formCalendar.start" required />
                                </div>
                            </div>
                        </div>
                        <div class=" row" *ngIf="createXorUpdate.calendar">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Date Fin </label>
                                    <input name="end" class=" form-control" placeholder="Date fin" type="number" [(ngModel)]="formCalendar.end" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="f.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancelCalendar()">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter Calendary -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="name" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 px-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="intervention" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 pl-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="date" type="date" />
                            </div>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="goBack()">Retour</button>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="activeFormTemplate(true)">Nouveau</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table Calendary -->
    <div class=" row justify-content-center">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste de Programmes (<strong>{{selectedCategory.name}}</strong> >  <strong>{{selectedPoultry.name}}</strong>)</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Nom</th>
                                    <th>Intervention</th>
                                    <th>Date</th>
                                    <th class=" text-center">Effectuer</th>
                                    <th>Editer</th>
                                    <th>Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let calendar of calendarys | paginate: { itemsPerPage: 5, currentPage: page }">
                                    <td>{{calendar.calendaryName}}</td>
                                    <td>{{calendar.intervention}}</td>
                                    <td>{{calendar.date | date }}</td>
                                    <td class=" text-center"><span *ngIf="calendar.make">OUI</span> <span *ngIf="!calendar.make">NON</span></td>
                                    <td><button class="btn btn-sm btn-success mb-3" (click)="editingCalendar(calendar)"><i class=" tim-icons icon-pencil"> </i></button></td>
                                    <td><button class="btn btn-sm btn-success mb-3" (click)="onDeleteCalendar(calendar.id)"><i class=" tim-icons icon-trash-simple"> </i></button></td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="page = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" pt-2" *ngIf="currentView === 2">
    <!-- Form poultry -->
    <div class=" row justify-content-center" *ngIf="formTemplate">
        <div class=" col-md-7">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Formulaire</h4>
                </div>
                <div class=" card-body">
                    <form #f="ngForm" (ngSubmit)="onSubmit()">
                        <div class=" row">
                            <div class=" col-md-6 pr-md-1">
                                <div class=" form-group">
                                    <label> Nom </label>
                                    <input name="name" class=" form-control" placeholder="Nom" type="text" [(ngModel)]="form.name" disabled />
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-6 pr-md-1">
                                <div class=" form-group">
                                    <label> Quantite </label>
                                    <input name="quatity" class=" form-control" placeholder="quantite" type="number" [(ngModel)]="form.quantity" required />
                                </div>
                            </div>
                            <div class=" col-md-6 px-md-1">
                                <div class=" form-group">
                                    <label> Duree croissance </label>
                                    <input name="developmentTime" class=" form-control" placeholder="Duree croissance" type="number" [(ngModel)]="form.developmentTime" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-md-6 px-md-1">
                                <div class=" form-group">
                                    <label>Date Entree</label>
                                    <input name="dateOfEntry" class="form-control" placeholder="date" type="date" [(ngModel)]="form.dateOfEntry" required />
                                </div>
                            </div>
                            <div class=" col-md-6 px-md-1">
                                <div class=" form-group">
                                    <label> Actuellement </label>
                                    <div class="form-control">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="present" id="inlineRadio1" [value]="true" [(ngModel)]="form.present" />
                                            <label class="form-check-label" for="inlineRadio1">Present</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="present" id="inlineRadio2" [value]="false" [(ngModel)]="form.present" />
                                            <label class="form-check-label" for="inlineRadio2">Absent</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="enclosure">Poulailler</label>
                                    <select name="chickenCoop" class="form-select" aria-label="Default select example" [(ngModel)]="form.chickenCoop" required>
                                        <option *ngFor="let C of chickenCoops" [ngValue]="C">{{C.name}} {{C.area}}/m²</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="f.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancelPoultry()">Annuller</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter poultry -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="nom" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 pl-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="date" type="date" />
                            </div>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="goBack()">Retour</button>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="activeFormTemplate(true)">Nouveau</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table Poultry -->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste de volailles (<strong>{{selectedCategory.name}}</strong>)</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Nom</th>
                                    <th>Categorie</th>
                                    <th>Duree croissance</th>
                                    <th>Quantite</th>
                                    <th>Date Entree</th>
                                    <th>Enclos</th>
                                    <th class=" text-center">Present</th>
                                    <th class=" text-center">Editer</th>
                                    <th class=" text-center">Supprimer</th>
                                    <th class=" text-center">Programme</th>
                                    <th class=" text-center" *ngIf="eggExists()">Oeufs</th>
                                    <th class=" text-center">Sortie</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let P of poultrys">
                                    <td>{{P.name}}</td>
                                    <td>{{selectedCategory.name}}</td>
                                    <td>{{P.developmentTime}}</td>
                                    <td>{{P.quantity}}</td>
                                    <td>{{P.dateOfEntry | date }}</td>
                                    <td>{{P.coopsName}}</td>
                                    <td class=" text-center"><span *ngIf="P.present">OUI</span> <span *ngIf="!P.present">NON</span></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="editingPoultry(P)"><i class="material-icons">drive_file_rename_outline</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="onDelete(P.id)"><i class="material-icons">delete_sweep</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="getCalendary(P)"><i class=" material-icons"> alarm</i></button></td>
                                    <td class=" text-center" *ngIf="eggExists()"><button class="btn btn-sm btn-success mb-3" (click)="getEggs(P)"><i class=" material-icons"> egg</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="getOutPoultry(P)"><i class=" material-icons"> shopping_cart</i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" pt-2" *ngIf="currentView === 5">
    <!-- Form outPoultry -->
    <div *ngIf="formTemplate" class=" row justify-content-center">
        <div class=" col-md-5">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title"> Formulaire</h4>
                </div>
                <div class=" card-body">
                    <form #f=ngForm (ngSubmit)="onSubmitOutPoultry()">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="planting">Raison</label>
                                    <select name="planting" class="form-select" aria-label="Default select example" [(ngModel)]="formOutPoultry.raison" (change)="reasonChange()" required >
                                        <option *ngFor="let reason of outReasons" [ngValue]="reason.value">{{reason.label}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Date  </label>
                                    <input name="date" class=" form-control" placeholder="Date" type="date" [(ngModel)]="formOutPoultry.date" required />
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Quantité </label>
                                    <input name="quantity" class=" form-control" placeholder="Quantité" type="number" [(ngModel)]="formOutPoultry.quantity" required />
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Valeur </label>
                                    <input name="valeur" class=" form-control" placeholder="Valeur" type="number" [(ngModel)]="formOutPoultry.valeur" [disabled]="isNonValueReason()" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="f.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancelOutPoultry()">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter outPoultry -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="raison" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 pl-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="date" type="date" />
                            </div>
                        </div>
                        <div class=" col-md-2 px-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="Quantité" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 px-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="valeur" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="goBack()">Retour</button>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="activeFormTemplate(true)">Nouveau</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table outPoultry -->
    <div class=" row justify-content-center">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste de Sorties (<strong>{{selectedCategory.name}}</strong> >  <strong>{{selectedPoultry.name}}</strong>)</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Raison</th>
                                    <th>Date</th>
                                    <th>Quantité</th>
                                    <th>Valeur</th>
                                    <th>Editer</th>
                                    <th>Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let out of outPoultrys | paginate: { itemsPerPage: 5, currentPage: page }">
                                    <td>{{getRaisonLabel(out.raison)}}</td>
                                    <td>{{out.date | date }}</td>
                                    <td>{{out.quantity}}</td>
                                    <td>{{out.valeur}}</td>
                                    <td><button class="btn btn-sm btn-success mb-3" (click)="editingOutPoultry(out)"><i class=" tim-icons icon-pencil"> </i></button></td>
                                    <td><button class="btn btn-sm btn-success mb-3" (click)="onDeleteOutPoultry(out.id)"><i class=" tim-icons icon-trash-simple"> </i></button></td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="page = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" pt-2" *ngIf="currentView === 6">
    <!-- Form Egg -->
    <div *ngIf="formTemplate" class=" row justify-content-center">
        <div class=" col-md-5">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title"> Formulaire</h4>
                </div>
                <div class=" card-body">
                    <form #f=ngForm (ngSubmit)="onSubmitEgg()">
                        <div class="row">
                            <div class=" form-group">
                                <label> Destination </label>
                                <div class="form-control">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="destination" id="inlineRadio1" [value]="'stock'" [(ngModel)]="formEgg.destination" />
                                        <label class="form-check-label" for="inlineRadio1">Stock</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="destination" id="inlineRadio2" [value]="'sale'" [(ngModel)]="formEgg.destination" />
                                        <label class="form-check-label" for="inlineRadio2">Vente</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Date Intervention </label>
                                    <input name="quantity" class=" form-control" placeholder="Quantité" type="number" [(ngModel)]="formEgg.quantity" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="f.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancelEgg()">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter Egg -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="destination" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 px-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="quantity" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="goBack()">Retour</button>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="activeFormTemplate(true)">Nouveau</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table Egg -->
    <div class=" row justify-content-center">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Gestion d'oeufs (<strong>{{selectedCategory.name}}</strong> >  <strong>{{selectedPoultry.name}}</strong>)</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Destination</th>
                                    <th>Quantité</th>
                                    <th>Editer</th>
                                    <th>Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let egg of eggs | paginate: { itemsPerPage: 5, currentPage: page }">
                                    <td>{{egg.destination}}</td>
                                    <td>{{egg.quantity}}</td>
                                    <td><button class="btn btn-sm btn-success mb-3" (click)="editingEgg(egg)"><i class=" tim-icons icon-pencil"> </i></button></td>
                                    <td><button class="btn btn-sm btn-success mb-3" (click)="onDeleteEgg(egg.id)"><i class=" tim-icons icon-trash-simple"> </i></button></td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="page = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
