<div class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="btn-success text-center "  (click)="onChangeView(true)">
                <div [ngClass]="{ classHrTrue: viewFish === true,classHrFalse: viewFish === false}" ></div>
                <Strong>Poissons</Strong>
                <div [ngClass]="{ classHrTrue: viewFish === true,classHrFalse: viewFish === false}" ></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="btn-success text-center" (click)="onChangeView(false)">
                <div [ngClass]="{ classHrTrue: viewFish === false,classHrFalse: viewFish === true}" ></div>
                <Strong>Bassins</Strong>
                <div [ngClass]="{ classHrTrue: viewFish === false,classHrFalse: viewFish === true}" ></div>
            </div>
        </div>
    </div>
    <div *ngIf="viewFish">
        <app-fish></app-fish>
    </div>
    <div *ngIf="!viewFish">
        <app-bowl></app-bowl>
    </div>
    </div>