<div class="pt-2" *ngIf="currentView === 3">
    <!-- Filter Tree -->
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="nom" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 px-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="categorie" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 pl-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="date" type="date" />
                            </div>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="goBack()">Retour</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table Tree -->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste d'arbres dans <strong>{{selectedPlanting.name}}</strong></h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Nom</th>
                                    <th>Categorie</th>
                                    <th>Date Plantation</th>
                                    <th>Plantation</th>
                                    <th class=" text-center">Present</th>
                                    <th class=" text-center">Editer</th>
                                    <th class=" text-center">Supprimer</th>
                                    <th class=" text-center">Programme</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let T of trees | paginate: { itemsPerPage: 10, currentPage: p }">
                                    <td>{{T.name}}</td>
                                    <td>{{T.categoryName}}</td>
                                    <td>{{T.plantingDate | date }}</td>
                                    <td>{{T.plantingName}}</td>
                                    <td class=" text-center"><span *ngIf="T.present">OUI</span> <span *ngIf="!T.present">NON</span></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3"><i class="material-icons">drive_file_rename_outline</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="onDelete(category.id)"><i class="material-icons">delete_sweep</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="getCalendary(T)"><i class=" material-icons"> alarm</i></button></td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pt-2" *ngIf="currentView === 2">
    <!-- Filter Speculation -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="nom" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="produit" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="goBack()">Retour</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table Speculation -->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste de speculations dans <strong>{{selectedPlanting.name}}</strong></h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Nom</th>
                                    <th>Produit</th>
                                    <th> Date semence</th>
                                    <th class=" text-center">recolte</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let S of speculations | paginate: { itemsPerPage: 10, currentPage: p }">
                                    <td>{{S.name}}</td>
                                    <td>{{S.seedName}}</td>
                                    <td>{{S.seedDate | date }}</td>
                                    <td class=" text-center"><span *ngIf="S.presente">NON</span> <span *ngIf="!S.presente">OUI</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" pt-2" *ngIf="currentView === 1">
    <!-- Form Planting -->
    <div class=" row justify-content-center"  *ngIf="formTemplate">
        <div class=" col-md-7">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title"> Formulaire</h4>
                </div>
                <div *ngIf="error" class="alert alert-danger" role="alert">
                    <span >{{error}}</span>
                </div>
                <div class=" card-body">
                    <form #f="ngForm" (ngSubmit)="onSubmit()" >
                        <div class=" row">
                            <div class=" col-md-6 pr-md-1">
                                <div class=" form-group">
                                    <label> Nom </label>
                                    <input class=" form-control" placeholder="Nom" type="text"
                                        name="name" [(ngModel)]="form.name" required/>
                                </div>
                            </div>
                            <div class=" col-md-6 px-md-1">
                                <div class=" form-group">
                                    <label> Surface </label>
                                    <input  class=" form-control" placeholder="Surface" type="number"
                                        name="area" [(ngModel)]="form.area" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="f.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancelPlanting()">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter Planting -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="nom" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="activeFormTemplate(true)">Nouvelle</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table Planting -->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste des plantations</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Nom</th>
                                    <th class="Text-center">Surface</th>
                                    <th class="Text-center">Editer</th>
                                    <th class="Text-center">Supprimer</th>
                                    <th class="Text-center">Voir speculation</th>
                                    <th class="Text-center">Voir Arbre</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let planting of plantings">
                                    <td>{{planting.name}}</td>
                                    <td class="Text-center">{{planting.area}}</td>
                                    <td class="Text-center"><button class="btn btn-sm btn-success mb-3" (click)="editingPlanting(planting)"><i class=" material-icons "> drive_file_rename_outline</i></button></td>
                                    <td class="Text-center"><button class="btn btn-sm btn-success mb-3" (click)="onDelete(planting.id)"><i class=" material-icons "> delete_sweep</i></button></td>
                                    <td class="Text-center"><button class="btn btn-sm btn-success mb-3" (click)="getSpeculation(planting)"><i class=" material-icons "> local_florist</i></button></td>
                                    <td class="Text-center"><button class="btn btn-sm btn-success mb-3" (click)="getTree(planting)"><i class=" material-icons "> park</i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
