<div class=" content" *ngIf="!activeTemplate">
    <div *ngIf="!formTemplate" class=" row justify-content-center">
        <div class=" col-md-2">
            <button class="btn btn-sm btn-success mb-3" (click)="goBack()">Go back</button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-11">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-4 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="Serch name" type="text" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Show data</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Name</th>
                                    <th>Product</th>
                                    <th>Seed Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let F of farmings">
                                    <td>{{F.name}}</td>
                                    <td>{{F.productName}}</td>
                                    <td>{{F.seedDate | date }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" content" *ngIf="activeTemplate">
    <div class=" row justify-content-center" *ngIf="formTemplate">
        <div class=" col-md-5">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Add Edit Form</h4>
                </div>
                <div class=" card-body">
                    <form (ngSubmit)="onSubmit()" >
                        <div class="row">
                            <div class=" col-md-12 pr-md-1">
                                <div class="form-group">
                                    <label> Name </label>
                                    <input class=" form-control" placeholder="Name" type="text"
                                        name="productName" [(ngModel)]="form.productName"/>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3">Submit</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="activeFormTemplate()">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!formTemplate" class=" row justify-content-center">
        <div class=" col-md-2">
            <button class="btn btn-sm btn-success mb-3" (click)="activeFormTemplate()">New Product</button>
        </div>
    </div>
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-11">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-4 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="Serch name" type="text" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Show data</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Name</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                    <th>Farming</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let P of products">
                                    <td>{{P.productName}}</td>
                                <td><button class="btn btn-sm btn-success mb-3"><i class=" tim-icons icon-pencil"> </i></button></td>
                                <td><button class="btn btn-sm btn-success mb-3" (click)="onDelete(P.id)" ><i class=" tim-icons icon-trash-simple"> </i></button></td>
                                <td><button class="btn btn-sm btn-success mb-3" (click)="getFarming(P.id)"><i class=" tim-icons icon-world"> </i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
