
<div class=" pt-2" *ngIf="currentView === 1">
    
    <!-- Table Stocks -->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">List des stocks de produits</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Produit</th>
                                    <th>Total entrant</th>
                                    <th>Total sortant</th>
                                    <th>Disponible</th>
                                    <th class=" text-center">Détails</th>
                                    <th class=" text-center">Sorties</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let stock of stocks">
                                    <td>{{stock.product}}</td>
                                    <td>{{stock.in}}</td>
                                    <td>{{stock.out}}</td>
                                    <td>{{stock.actualy}}</td>
                                    <td class=" text-center">
                                        <button class="btn btn-sm btn-success mb-3" (click)="getOutGoingStocks(stock.product)">
                                            <i class="material-icons">list</i>
                                        </button>
                                    </td>
                                    <td class=" text-center">
                                        <button class="btn btn-sm btn-success mb-3" (click)="getSorties(stock.product)">
                                            <i class="material-icons">label</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" pt-2" *ngIf="currentView === 2">
    <!-- Form OutGoingStock -->
    <div class=" row justify-content-center"  *ngIf="formTemplate">
        <div class=" col-md-9">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Formulaire</h4>
                </div>
                <div *ngIf="error" class="alert alert-danger" role="alert">
                    <span >{{error}}</span>
                </div>
                <div class=" card-body">
                    <form #f="ngForm" (ngSubmit)="onSubmit()" >
                        <div class=" row">
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Quantité </label>
                                    <input class=" form-control" placeholder="Quantité" type="number"
                                        name="quantity" [(ngModel)]="form.quantity" required/>
                                </div>
                            </div>
                            <div class=" col-md-12 px-md-1">
                                <div class=" form-group">
                                    <label> Valeur </label>
                                    <input  class=" form-control" placeholder="Valeur" type="number"
                                        name="valeur" [(ngModel)]="form.valeur" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="f.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancel()">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter OutGoingStock -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="quantity" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="valeur" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="type" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="produit" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 pr-md-1">
                            <button class="btn btn-sm btn-success " (click)="goBack()">Retour</button>
                        </div>
                        <div class=" col-md-2 pr-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="activeFormTemplate(true)">Nouveau</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table OutGoingStock -->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Détails sur stock (<span>{{selectedProduit}}</span>) </h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Quantité</th>
                                    <th>Valeur</th>
                                    <th>Type</th>
                                    <th>Produit</th>
                                    <th class=" text-center">Editer</th>
                                    <th class=" text-center">Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let out of outGoingStocks">
                                    <td>{{out.quantity}}</td>
                                    <td>{{out.valeur}}</td>
                                    <td>{{out.type}}</td>
                                    <td>{{out.produit}}</td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="editing(out)"><i class="material-icons">drive_file_rename_outline</i></button></td>
                                    <td class=" text-center">
                                        <button *ngIf="canDelete(out)" class="btn btn-sm btn-success mb-3" (click)="onDelete(out.id)">
                                            <i class="material-icons">delete_sweep</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
