<div class=" pt-2" *ngIf="currentView === 2">
    <!-- Filter Poultry -->
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="nom" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 px-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="categorie" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 pl-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="date" type="date" />
                            </div>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="goBack()">Retour</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table Poultry -->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste de volailles dans <strong>{{selectedCoops.name}}</strong></h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Nom</th>
                                    <th>Categorie</th>
                                    <th>Duree croissance</th>
                                    <th>Quantite</th>
                                    <th>Date Entree</th>
                                    <th class=" text-center">Present</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let P of poultrys">
                                    <td>{{P.name}}</td>
                                    <td>{{P.categoryName}}</td>
                                    <td>{{P.developmentTime}}</td>
                                    <td>{{P.quatity}}</td>
                                    <td>{{P.dateOfEntry | date }}</td>
                                    <td class=" text-center"><span *ngIf="P.present">OUI</span> <span *ngIf="!P.present">NON</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" pt-2" *ngIf="currentView === 1">
    <!-- Form ChickenCoop -->
    <div class=" row justify-content-center" *ngIf="formTemplate">
        <div class=" col-md-7">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Formulaire</h4>
                </div>
                <div *ngIf="error" class="alert alert-danger" role="alert">
                    <span >{{error}}</span>
                </div>
                <div class=" card-body">
                    <form #chickenCoopForm="ngForm" (ngSubmit)="onSubmit()" >
                        <div class=" row">
                            <div class=" col-md-6 pr-md-1">
                                <div class=" form-group">
                                    <label> Nom </label>
                                    <input class=" form-control" placeholder="Nom" type="text"
                                        name="name" [(ngModel)]="form.name" required/>
                                </div>
                            </div>
                            <div class=" col-md-6 px-md-1">
                                <div class=" form-group">
                                    <label> Surface </label>
                                    <input  class=" form-control" placeholder="Surface" type="number"
                                        name="area" [(ngModel)]="form.area" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="chickenCoopForm.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancelChickenCoop()">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter ChickenCoop -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="nom" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="activeFormTemplate(true)">Nouveau</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table ChickenCoop  -->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste des poulaillers</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Nom</th>
                                    <th class=" text-center">Surface</th>
                                    <th class=" text-center">Editer</th>
                                    <th class=" text-center">Supprimer</th>
                                    <th class=" text-center">Voir volailles</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let C of chickenCoops">
                                    <td>{{C.name}}</td>
                                    <td class=" text-center">{{C.area}}</td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="editingChickenCoop(C)"><i class=" material-icons">drive_file_rename_outline </i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="onDelete(C.id)"><i class="material-icons">delete_sweep </i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="getPoultry(C)"><i class="material-icons ">flutter_dash</i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
