<div class="logo">
  <a href="javascript:void(0)" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/logoFarm.gif" />
    </div>
  </a>
  <a href="javascript:void(0)" class="simple-text logo-normal">
    DIGITAL FARM
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="material-icons">{{menuItem.icon}}</i>
        <p>{{ menuItem.activity }}</p>
      </a>
    </li>
  </ul>
</div>
