<div class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="btn-success text-center "  (click)="onChangeView(true)">
                <div [ngClass]="{ classHrTrue: viewPoultry === true,classHrFalse: viewPoultry === false}" ></div>
                <Strong>Volaille</Strong>
                <div [ngClass]="{ classHrTrue: viewPoultry === true,classHrFalse: viewPoultry === false}" ></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="btn-success text-center" (click)="onChangeView(false)">
                <div [ngClass]="{ classHrTrue: viewPoultry === false,classHrFalse: viewPoultry === true}" ></div>
                <Strong>Poulailler</Strong>
                <div [ngClass]="{ classHrTrue: viewPoultry === false,classHrFalse: viewPoultry === true}" ></div>
            </div>
        </div>
    </div>
    <div *ngIf="viewPoultry">
        <app-poultry></app-poultry>
    </div>
    <div *ngIf="!viewPoultry">
        <app-chickenCoop></app-chickenCoop>
    </div>
    </div>