/* You can add global styles to this file, and also import other style files */
#selectWidth{
    width: 100%;
}

.myClass{
  text-decoration: underline dotted 3px;
  height: 28px;
}

.classHrTrue{
  background-color: white;
  height: 5px;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 10px;
}

.classHrFalse{
  height: 5px;
  margin-left: 30%;
  margin-right: 30%;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 500;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }