<div class=" pt-2" *ngIf="currentView === 1">
    <!-- Form Product -->
    <div class=" row justify-content-center"  *ngIf="formTemplate">
        <div class=" col-md-7">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title"> Formulaire</h4>
                </div>
                <div *ngIf="error" class="alert alert-danger" role="alert">
                    <span >{{error}}</span>
                </div>
                <div class=" card-body">
                    <form #f="ngForm" (ngSubmit)="onSubmit()" >
                        <div class=" row">
                            <div class=" col-md-6 pr-md-1">
                                <div class=" form-group">
                                    <label> Nom </label>
                                    <input class=" form-control" placeholder="Nom" type="text"
                                        name="productName" [(ngModel)]="form.productName" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="f.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancel()">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter Product -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="Nom" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-4 pr-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="activeFormTemplate(true)">Nouveau</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table Product -->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste des matières</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th class="Text-center">Nom</th>
                                    <th class="Text-center">Editer</th>
                                    <th class="Text-center">Supprimer</th>
                                    <th class="Text-center">Stocks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let produit of products">
                                    <td>{{produit.productName}}</td>
                                    <td class="Text-center"><button class="btn btn-sm btn-success mb-3" (click)="editing(produit)"><i class=" material-icons "> drive_file_rename_outline</i></button></td>
                                    <td class="Text-center"><button class="btn btn-sm btn-success mb-3" (click)="onDelete(produit.id)"><i class=" material-icons "> delete_sweep</i></button></td>
                                    <td class="Text-center"><button class="btn btn-sm btn-success mb-3" (click)="getStock(produit)"><i class=" material-icons "> home</i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" pt-2" *ngIf="currentView === 2">
    <!-- Form IncomingStock -->
    <div class=" row justify-content-center"  *ngIf="formTemplate">
        <div class=" col-md-9">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Formulaire</h4>
                </div>
                <div *ngIf="error" class="alert alert-danger" role="alert">
                    <span >{{error}}</span>
                </div>
                <div class=" card-body">
                    <form #f="ngForm" (ngSubmit)="onSubmitStock()" >
                        <div class=" row">                            
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Type </label>
                                    <div class="form-control">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="type" id="inlineRadio1" value="in" [(ngModel)]="formStock.type" />
                                            <label class="form-check-label" for="inlineRadio1">Entrée</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="type" id="inlineRadio2" value="out" [(ngModel)]="formStock.type" />
                                            <label class="form-check-label" for="inlineRadio2">Sortie</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-md-12 pr-md-1">
                                <div class=" form-group">
                                    <label> Quantité </label>
                                    <input class=" form-control" placeholder="Quantité" type="number"
                                        name="quantity" [(ngModel)]="formStock.quantity" required/>
                                </div>
                            </div>
                            <div class=" col-md-12 px-md-1">
                                <div class=" Stock-group">
                                    <label> Date </label>
                                    <input  class=" form-control" placeholder="Valeur" type="date"
                                        name="Date" [(ngModel)]="formStock.date" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success mb-3" [disabled]="f.invalid">Soumettre</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary mb-3" (click)="cancelStock()">Annuler</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter IncomingStock -->
    <div *ngIf="!formTemplate" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="Type" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="Quantité" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="Date" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 pr-md-1">
                            <div class=" form-group">
                                <input class=" form-control" placeholder="Produit" type="text" />
                            </div>
                        </div>
                        <div class=" col-md-2 pr-md-1">
                            <button class="btn btn-sm btn-success " (click)="goBack()">Retour</button>
                        </div>
                        <div class=" col-md-2 pr-md-1">
                            <button class="btn btn-sm btn-success mb-3" (click)="activeFormTemplate(true)">Nouveau</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table IncomingStock -->
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Liste de stocks (<strong>{{selectedProduct.productName}}</strong>) </h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Type</th>
                                    <th>Quantité</th>
                                    <th>Date</th>
                                    <th class=" text-center">Editer</th>
                                    <th class=" text-center">Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let stock of incomingStocks">
                                    <td>
                                        <span *ngIf="stock.type === 'in'">Entrée</span>
                                        <span *ngIf="stock.type === 'out'">Sortie</span>
                                    </td>
                                    <td>{{stock.quantity}}</td>
                                    <td>{{stock.date | date}}</td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="editingStock(stock)"><i class="material-icons">drive_file_rename_outline</i></button></td>
                                    <td class=" text-center"><button class="btn btn-sm btn-success mb-3" (click)="onDeleteStock(stock.id)"><i class="material-icons">delete_sweep</i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

